/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
body{
    background:#b2bec3;
    font-family: "Nunito", sans-serif;
    margin:0;
    padding:0;
    
}
.vizitka{
    width:550px;
    margin: 150px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


img{
position: absolute;
width: 150px;
height: 150px;
border-radius: 50%;
padding: 3px;
background-color: white;
top:-75px;
right:-75px;

}
h1{
    color: #d63031;
    margin:0 0 30px 0;
    font-size: 36px;
    font-weight: 700;
}
p{
    font-size: 18px;
    margin-bottom: 30px;;
}
.buttons a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size:18px;
    font-weight:700;
    text-align:center;
    padding:10px;
    border-radius: 5px;
    color:white;
    margin-bottom:5px;

}
.Twitter{
    background-color: #1da1f2;
    width:100%;
}
.Twitter:hover {
    background-color: #0b7bc1;
  }
.Facebook{
    background-color: #3b5998;
    width:100%;
}
.Facebook:hover {
    background-color: #2b406e;
  }